node_modules
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


/src/main/frontend/generated/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/


### VS Code ###
.vscode/
/src/main/frontend/generated/flow/chunks/chunk-fc0c19c1b4bf256c298b0cc95d2df3747fa5439af312ec852c2797ddc549d743.js
